<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <nav>
          <a href="http://localhost/phpmvccrud/">Home</a>
          <a href="http://localhost/phpmvccrud/?pagina=sobre">Sobre</a>
          <a
            href="http://localhost/phpmvccrud/?pagina=admin&metodo=index"
            class="float-right"
            >Admin</a
          >
        </nav>
      </div>

      <div class="main">{{area_dinamica}}</div>
    </div>
  </body>
</html>
